
<div class="border-custom">
    <div class="text-end margin-buttons">
        <button type="button" class=" btn btn-primary" (click)="createNewMatch()"> Criar Uma Nova Partida</button>
    </div>
    <h1 class="text-center">Lista de Mapas </h1>
    <hr>
    <div class="display">
        <div *ngFor="let map of maps" class="border-card hover" (click)="InformationAboutMatch(map.uuid, map.name, map.id)">
            <figure><img src={{map.imageUrl}} alt="..." height="300px" width="300px"></figure>
            <h5>{{map.name}}</h5>
        </div>
    </div>
</div>

