.border-custom{

    border: 1px solid #ced4da;
    border-radius: 10px;
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 4%;
    background-color: (236, 232, 225);
    background-color: #fff;
}

.border-card{
    cursor: pointer;
    height: 360px;
    margin : 0.5%;
   
    background-color:#151F30;
}
img{
    object-fit: cover;  
}

h5{
    font-weight: 600;
    font-size: 25px;
    padding-top: 10px;
    padding-left: 8px;
    font-style: normal;
    color: #ffff;
}
.display{
    display: flex;
    flex-wrap: wrap; 
    
    flex-direction: row; 
}
.flex {
    display: inline;
    flex: 5px;
}

.margin-buttons{
    margin: 2%
}