
<div class="border-custom">
    <div class="text-end margin-buttons">
        <button type="button" class=" btn btn-primary" (click)="createNewMatch()"> Create new Match</button>
    </div>
    <h1 class="text-center">List of Maps</h1>
    <hr>
    <div class="display">
        <div class="border-card" (click)="InformationAboutMatch()">
            <img src="https://media.valorant-api.com/maps/7eaecc1b-4337-bbf6-6ab9-04b8f06b3319/splash.png" alt="..." height="300px" width="300px">
            <h5>Ascent</h5>
        </div>
        <div class="border-card color-background">
            <img src="https://media.valorant-api.com/maps/7eaecc1b-4337-bbf6-6ab9-04b8f06b3319/splash.png" alt="..." height="300px" width="300px">
            <h5>Ascent</h5>
        </div>
        <div class="border-card color-background">
            <img src="https://media.valorant-api.com/maps/7eaecc1b-4337-bbf6-6ab9-04b8f06b3319/splash.png" alt="..." height="300px" width="300px">
            <h5>Ascent</h5>
        </div>
        <div class="border-card color-background">
            <img src="https://media.valorant-api.com/maps/7eaecc1b-4337-bbf6-6ab9-04b8f06b3319/splash.png" alt="..." height="300px" width="300px">
            <h5>Ascent</h5>
        </div>
       
        <div class="border-card color-background">
            <img src="https://media.valorant-api.com/maps/7eaecc1b-4337-bbf6-6ab9-04b8f06b3319/splash.png" alt="..." height="300px" width="300px">
            <h5>Ascent</h5>
        </div>
        <div class="border-card color-background">
            <img src="https://media.valorant-api.com/maps/7eaecc1b-4337-bbf6-6ab9-04b8f06b3319/splash.png" alt="..." height="300px" width="300px">
            <h5>Ascent</h5>
        </div>
        <div class="border-card color-background">
            <img src="https://media.valorant-api.com/maps/7eaecc1b-4337-bbf6-6ab9-04b8f06b3319/splash.png" alt="..." height="300px" width="300px">
            <h5>Ascent</h5>
        </div>
        <div class="border-card color-background">
            <img src="https://media.valorant-api.com/maps/7eaecc1b-4337-bbf6-6ab9-04b8f06b3319/splash.png" alt="..." height="300px" width="300px">
            <h5>Ascent</h5>
        </div>
    </div>
</div>

