<div class="form">
    <div class="border-custom">
        <div class="text-end margin-buttons">
            <button type="button" class=" btn btn-primary" (click)="createNewMatch()"> Criar Uma Nova Partida</button>
        </div>
        <h3 class="text-center text-top-trwee"> TOP 3 </h3>
        <h5 class="text-center text-top-trwee"> Agentes no Mapa  {{name}} </h5>
        <div class="display-flex" >
            <div class="border-card top-two" *ngIf="top2Agent">
                <img src={{top2Agent.bodyImgURL}}
                    alt="..." height="250px" width="100%">

                <h5 class="font-custom">{{top2Agent.name}}</h5>
                <p>
                    Total de Abates: {{top2Agent.totalKills}}
                </p>
                <p>
                    Media de Abates: {{top2Agent.totalKills}}
                </p>
            </div>
            <div class="border-card color-background top-one" *ngIf="top1Agent">
                <img src={{top1Agent.bodyImgURL}}
                    alt="..." height="250px" width="100%">
                <h5 class="font-custom">{{top1Agent.name}}</h5>
                <p>
                    Total de Abates: {{top1Agent.totalKills}}
                   
                </p>
                <p>
                    Media de Abates: {{top1Agent.totalKills}}
                </p>
            </div>
            <div class="border-card color-background top-tree" *ngIf="top3Agent">
                <img src={{top3Agent.bodyImgURL}}
                    alt="..." height="250px" width="100%">
                <h5 class="font-custom">{{top3Agent.name}}</h5>
                <p>
                    Total de Abates: {{top3Agent.totalKills}}
                </p>
                <p>
                    Media de Abates: {{top3Agent.totalKills}}
                </p>
            </div>
        </div>
        <hr>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Agente</th>
                    <th scope="col">Abates</th>
                    <th scope="col">Mortes</th>
                    <th scope="col">Data da Partida</th>
                    <th scope="col">Resultado</th>
                    <th scope="col">Editar</th>
                    <th scope="col">Excluir</th>
                </tr>
            </thead>
            <tbody *ngFor="let match of matchs">
                <tr>
                    <th scope="row">{{match.id}}</th>
                    <td>{{match.characters.name}}</td>
                    <td>{{match.kilss}}</td>
                    <td>{{match.death}}</td>
                    <td>{{match.dateMatch | date: 'dd/MM/yyyy - HH:mm'}}</td>
                    <td *ngIf="match.dateMatch">
                        Vitoria
                    </td>
                    <td *ngIf="!match.dateMatch">
                        Derrota
                    </td>
                    <td><button type="button" class="btn btn-outline-warning">Editar</button></td>
                    <td><button type="button" class="btn btn-outline-danger">Excluir</button></td>
                </tr>
            </tbody>
        </table>
    </div>

</div>
