<div class="form">
    <div class="border-custom">
        <h3 class="text-center text-top-trwee"> TOP 3</h3>
        <div class="display-flex">
            <div class="border-card top-two">
                <img src="https://media.valorant-api.com/agents/e370fa57-4757-3604-3648-499e1f642d3f/fullportrait.png"
                    alt="..." height="250px" width="100%">

                <h5 class="font-custom">Gekko</h5>
            </div>
            <div class="border-card color-background top-one">
                <img src="https://media.valorant-api.com/agents/dade69b4-4f5a-8528-247b-219e5a1facd6/fullportrait.png"
                    alt="..." height="250px" width="100%">
                <h5 class="font-custom">Gekko</h5>
            </div>
            <div class="border-card color-background top-tree">
                <img src="https://media.valorant-api.com/agents/5f8d3a7f-467b-97f3-062c-13acf203c006/fullportrait.png"
                    alt="..." height="250px" width="100%">
                <h5 class="font-custom">Gekko</h5>
            </div>
        </div>
        <hr>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Agente</th>
                    <th scope="col">Mapa</th>
                    <th scope="col">Abates</th>
                    <th scope="col">Mortes</th>
                    <th scope="col">Data</th>
                    <th scope="col">Editar</th>
                    <th scope="col">Excluir</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Facture</td>
                    <td>10</td>
                    <td>20</td>
                    <td>20</td>
                    <td>Date</td>
                    <td><button type="button" class="btn btn-outline-warning">Editar</button></td>
                    <td><button type="button" class="btn btn-outline-danger">Excluir</button></td>
                </tr>
                <tr>
                    <th scope="row">1</th>
                    <td>Facture</td>
                    <td>10</td>
                    <td>20</td>
                    <td>20</td>
                    <td>Date</td>
                    <td><button type="button" class="btn btn-outline-warning">Editar</button></td>
                    <td><button type="button" class="btn btn-outline-danger">Excluir</button></td>
                </tr>
                <tr>
                    <th scope="row">1</th>
                    <td>Facture</td>
                    <td>10</td>
                    <td>20</td>
                    <td>20</td>
                    <td>Date</td>
                    <td><button type="button" class="btn btn-outline-warning">Editar</button></td>
                    <td><button type="button" class="btn btn-outline-danger">Excluir</button></td>
                </tr>
            </tbody>
        </table>
    </div>

</div>
