<div class="form">
    <div class="border-custom">
        <h4 class="text-center">Criar - Mapa</h4>
        <div class="border-0" class="">
            <label for="exampleFormControlInput1" class="form-label">Selecione o Mapa</label>
            <select class="form-control" id="exampleFormControlSelect1" (change)="onChange()" [(ngModel)]="uuid">
                <option selected>Por favor , Selecione o mapa</option>
                <option *ngFor="let agent of maps" [ngValue]="agent.uuid">
                    {{agent.displayName}}
                </option>
            </select>
        </div>

        <div *ngIf="uuid">
            <div class="d-flex align-items-start">
                <img src={{displayIcon}} alt="..." height="250px" width="250px" class="img-thumbnail">
                <div class="d-flex flex-column bd-highlight flex-element">
                    <p>Nome: <span><b>{{name}}</b></span></p>
                    <p>Descrição: <span><b>{{description}}</b></span></p>
                </div>
            </div>
            <hr>
            <div class="text-end">
                <button type="button" class=" btn btn-success" (click)="saveMap()"> Criar Mapa</button>
            </div>
        </div>
    </div>
</div>