<div class="form">
    <div class="border-custom">
        <h4 class="text-center">Create - Map</h4>
        <div class="border-0" class="">
            <label for="exampleFormControlInput1" class="form-label">Select the map</label>
            <select class="form-control" id="exampleFormControlSelect1">
                <option selected>Please, select the map</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </div>
        <div class="d-flex align-items-start">
            <img src="https://media.valorant-api.com/maps/7eaecc1b-4337-bbf6-6ab9-04b8f06b3319/splash.png" alt="..." height="250px" width="250px" class="img-thumbnail">
            <div class="d-flex flex-column bd-highlight flex-element">
             <p>Name: <span><b>Ascent</b></span></p>
             <p>Description: <span><b>A/B Sites</b></span></p>
           </div>
       </div>
       <hr>
       <div class="text-end">
            <button type="button" class=" btn btn-success"> Create Map</button>
        </div>
    </div>
</div>