<div class="border-custom">
    <h4 class="text-center">Dashboard - Agents</h4>
    <div class="text-end">
            <button type="button" class=" btn btn-primary" (click)="createAgent()"> Create Agent</button>
    </div>
<hr>
<table class="table">
  <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Function</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody *ngFor="let agent of agents">
      <tr>
        <th scope="row">{{agent.id}}</th>
        <td>{{agent.name}}</td>
        <td>{{agent.function}}</td>
        <td><button type="button" class="btn btn-outline-warning">Edit</button></td>
        <td><button type="button" class="btn btn-outline-danger">Danger</button></td>
      </tr>
    </tbody>
  </table>
</div>