<div class="border-custom">
    <h4 class="text-center">Dashboard - Maps</h4>
    <div class="text-end">
            <button type="button" class=" btn btn-primary" (click)="createMap()"> Create Map</button>
    </div>
<hr>
<table class="table">
  <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Facture</td>
        <td><button type="button" class="btn btn-outline-warning">Edit</button></td>
        <td><button type="button" class="btn btn-outline-danger">Danger</button></td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Bind</td>
        <td><button type="button" class="btn btn-outline-warning">Edit</button></td>
        <td><button type="button" class="btn btn-outline-danger">Danger</button></td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Ascent</td>
        <td><button type="button" class="btn btn-outline-warning">Edit</button></td>
        <td><button type="button" class="btn btn-outline-danger">Danger</button></td>
      </tr>
    </tbody>
  </table>
</div>