<div class="border-custom">
    <h4 class="text-center">Dashboard - Mapas</h4>
    <div class="text-end">
            <button type="button" class=" btn btn-primary" (click)="createMap()"> Criar Novo Mapa</button>
    </div>
<hr>
<table class="table">
  <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nome</th>
        <th scope="col">Editar</th>
        <th scope="col">Excluir</th>
      </tr>
    </thead>
    <tbody *ngFor="let map of maps"> 
      <tr>
        <th scope="row">{{map.id}}</th>
        <td>{{map.name}}</td>
        <td><button type="button" class="btn btn-outline-warning">Editar</button></td>
        <td><button type="button" class="btn btn-outline-danger">Excluir</button></td>
      </tr>
    </tbody>
  </table>
</div>