<div class="form">
    <div class="border-custom">
        <h4 class="text-center">Criar Agente</h4>
        <div class="border-0" class="">
            <label for="exampleFormControlInput1" class="form-label">Selecione o Agente</label>
            <select class="form-control" id="exampleFormControlSelect1" (change)="onChange()" [(ngModel)]="uui">
                <option selected>Por favor, selecione o Agente</option>
                <option *ngFor="let agent of data" [ngValue]="agent.uuid">
                    {{agent.displayName}}
                </option>
            </select>
        </div>
        <div *ngIf="uui">
            <div class="d-flex align-items-start">

                <img src={{displayIcon}} alt="..." height="200px" width="200px" class="img-thumbnail">
                <div class="d-flex flex-column bd-highlight flex-element">
                    <p>Nome: <span><b>{{displayName}}</b></span></p>
                    <p>Função: <span><b>{{function}}</b></span></p>
                    <p>Descrição: <span><b>{{description}}</b></span></p>
                </div>
            </div>

            <hr>
            <div class="text-end">
                <button type="button" class=" btn btn-success"  (click)="saveAgent()"> Criar Agente</button>
            </div>
        </div>
    </div>
</div>