<div class="form">
    <div class="border-custom">
        <h4 class="text-center">Create - Match</h4>

        <div class="border-0" class="">
            <div class="row">
                <div class="form-group col-md-6">
                    <label for="agent">Select the agent</label>
                    <select class="form-control" id="agent">
                        <option selected>Please, select the agent</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                  </div>
                  <div class="form-group col-md-6">
                    <label for="map">Select the map</label>
                    <select class="form-control" id="map">
                        <option selected>Please, select the map</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                  </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="flex">
                    <img src="https://media.valorant-api.com/agents/e370fa57-4757-3604-3648-499e1f642d3f/displayicon.png" alt="..." height="150px" width="150px" class="img-thumbnail">
                    <div class="d-flex flex-column bd-highlight flex-element">
                        <p>Name: <span><b>Gekko</b></span></p>
                        <p>Function: <span><b>Sentinela</b></span></p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="flex">
                    <img src="https://media.valorant-api.com/maps/7eaecc1b-4337-bbf6-6ab9-04b8f06b3319/splash.png" alt="..." height="300px" width="250px" class="img-thumbnail">
                    <div class="d-flex flex-column bd-highlight flex-element">
                        <p>Name: <span><b>Ascent</b></span></p>
                        <p>Description: <span><b>A/B Sites</b></span></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-4">
              <label for="kilss">Kilss</label>
              <input type="text" class="form-control" placeholder="Enter number of kilss" id="kilss">
            </div>
            <div class="form-group col-md-4">
              <label for="Deaths">Deaths</label>
              <input type="number" class="form-control" placeholder="Enter number of deaths" id="deaths">
            </div>
            <div class="form-group col-md-4">
                <label for="inputState">Match result</label>
                <div class="flex">
                    <div>
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="1">
                        <label class="form-check-label margin-label" for="win">Win</label>
                    </div>
                    <div>
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="0">
                        <label class="form-check-label margin-label" for="lose">Lose</label>
                    </div>
              </div>
              </div>
        </div>
       <hr>
       <div class="text-end">
            <button type="button" class=" btn btn-success"> Create Match</button>
        </div>
    </div>
</div>